    body {
            display: block;
            justify-content: center;
            align-items: center;
            
        }
        .kotak { 
            width: 150px;
            height: 150px;
            border: 2px solid black;
            background-color: lightblue;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            width: 500px;
            
        }